.inputOption{
    display: flex;
    align-items: center;
    color: gray;
    margin-top: 10px;
    cursor: pointer;
    border-bottom: 1px solid whitesmoke;
}


.inputOption:hover{
    background-color: whitesmoke;
    border-radius: 10px;
}

.inputOption > h4{
    margin-left: 5px;
}
@media screen and (max-width: 1023px) {
    /* Tablet styles */
    .inputOption {
        padding: 5px;
    }

    .inputOption > h4 {
        font-size: 14px;
    }
}


@media screen and (max-width: 767px) {
    .inputOption {
        padding: 5px;
    }

    .inputOption > h4 {
        font-size: 14px;
    }
}

@media screen and (max-width: 430px) {
   
    .inputOption {
        padding: 3px;
    }

    .inputOption > h4 {
        font-size: 12px;
    }
}

/* @media screen and (max-width: 350px) {
   
    .inputOption {
        padding: 3px;
        width: 90%;
    }

    .inputOption > h4 {
        font-size: 12px;
    }
} */