


.sidebar{
    top: 80px;
    position: sticky;
    flex: 0.2;
    border-radius: 10px;
    text-align: center;
    height: fit-content;
    background-color: #2c2f33; /* Dark background */
    color: #cfd8dc; /* Light text */
}

.sidebar__avatar{
    margin-bottom: 10px;
}

.sidebar__top{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #2c2f33; /* Dark background */
    border-bottom: 1px solid #37474f; /* Dark border */
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-bottom: 10px;
}

.sidebar__top > img{
    margin-bottom: -10px;
    width: 100%;
    height: 90%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    object-fit: cover;
}

.sidebar__top > h2{
    font-size: 18px;
    margin-top: 10px;
    color: #cfd8dc; /* Light text */
}

.sidebar__top > h4{
    font-size: 12px;
    color: gray;
    margin-top: 5px;
}

.sidebar__stat{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.sidebar__stat > p{
    font-size: 13px;
    color: gray;
    font-weight: 600;
}

.sidebar_stats{
    padding:10px;
    background-color: #2c2f33; /* Dark background */
    margin-bottom: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.sidebar_statNumber{
    font-weight: bold;
    color: #0a66c2 !important;
}

.sidebar__button{
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    color: #cfd8dc; 
    cursor: pointer;
    text-align: left;  
}

.sidebar__recentItem{
    display: flex;
    font-size: 13px;
    color: gray;
    font-weight: bolder;
    padding: 5px 0px;
    cursor: pointer;
    margin-bottom: 5px;
}

.sidebar__recentItem:hover{
    background-color: #37474f; 
    cursor: pointer;
    color: #cfd8dc; 
    border-radius: 10px;
}


@media screen and (max-width: 1023px) {
    .sidebar {
        flex: 0.3;
        top: 0;
    }
}

@media screen and (max-width: 767px) {
    .sidebar {
        flex: 1;
        top: 0;
        border-radius: 0;
    }
}


@media screen and (max-width: 430px) {
    .sidebar {
        flex: 1;
        top: 0;
        border-radius: 0;
    }
}

/* @media screen and (max-width: 350px) {
    .sidebar {
        flex: 1;
        top: 0;
        border-radius: 0;
    }
} */